<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
  <title>Danh sach sach</title>
</head>
<body>
<div layout:fragment="content">
  <div th:replace="fragments/header :: header('Danh sách sách')"></div>

  <table>
    <thead>
    <tr>
      <th>Mã</th>
      <th>Tên sách</th>
      <th>Tác giả</th>
      <th>Giá</th>
      <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${books}"
        th:classappend="${b.price >= 300000} ? 'high-price' : ''">
      <td th:text="${b.id}"></td>
      <td th:text="${b.name}"></td>
      <td th:text="${b.author}"></td>
      <td th:text="${#numbers.formatDecimal(b.price, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
      <td>
        <a th:href="@{/books/{id}(id=${b.id})}">Xem</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
